@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root{
  --Open-serif: 'Open serif';
  --Comfortaa:  'Comfortaa';
}
*,*::before,*::after{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  height: 1200px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 100px 1fr 300px;
  font-family: var(--Open-serif);
  
}

.header {
  background-color: #002c5f;
  grid-column: 1/3;
  grid-row: 1/2;
  height: 100%;
}

.main {
  background-color: #f2f2f2;
  font-size: 20px;
  color: #ffffff;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 240px;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem 4rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

.cards-container__card {
  background-color: #0079c8;
}

.aside {
  background-color: #9fcfeb;
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer {
  position: relative;
  background-color: #002c5f;
  grid-column: 1/3;
  grid-row: 3/5;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.footer .footer__block{
  width: 25%;
}

.footer .footer__block ul {
  list-style-type: none;
}
.footer .footer__icon{
  position: absolute; 
  right:10px;
  top: 10px;
}

.footer .footer__block ul li  {
  text-align: center;
  padding-bottom: 10px;
}
.footer .footer__block ul li a:hover{
  color: rgb(104, 95, 230);
  text-decoration-line: none;
  font-size: 18px;
}
.footer .footer__block ul li a {
  color: white;
  text-decoration: none;
  align-items: center;
  font-family: var(--Comfortaa);
}
.footer .footer__block ul li h2 {
  color: white;
  text-decoration: none;
  align-items: center;
  font-family: var(--Comfortaa);
}

.fa-arrow-circle-up{
  color: white
}

 .footer__logo {
  text-align: center;
  border-top: 1px solid rgb(120, 111, 98);
  border-bottom: 1px solid rgb(120, 111, 98);
  width: 80%;
  height: 50%;

}
.footer__logo img{
   
    height: 100%;
}
.footer__copyright{
  font-family: var(--Comfortaa);
  color: #ffffff;
  text-align: center;
}


@media screen and (max-width: 1300px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    background-color: #002c5f;
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100%;
  }
 

}


@media screen and (max-width: 990px) {
  .cards-container {
    padding-left: 3rem;
  }
  .main {
    grid-column: 1/3;
  }
  .aside {
    display: none;
  }
  .header {
    background-color: #002c5f;
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100%;
  }
}

@media screen and (max-width: 750px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }
  .footer {
    background-color: #002c5f;
    grid-column: 1/3;
    grid-row: 3/5;
    height: 1040px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.footer .footer__logo img{
  width: 90%;
  height: 144px;
  margin: 20px 0;
}
.footer .footer__logo{
  height: 0;
}
.footer .footer__block{
  width: 56%;
  height: 20px;
}
}
