@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  --Open-serif: "Open serif";
  --Comfortaa: "Comfortaa";
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  height: 1200px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 220px 1fr 150px;
  font-family: var(--Open-serif);
}
/* header design */
.header {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
}

.header-banner {
  background-image: url(/img/header-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -5;
  box-sizing: border-box;
  position: relative;
}

.header-nav__li {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  position: relative;
}

.header-nav__liText {
  text-decoration: none;
  color: white;
  font-size: 1.08em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: relative;
  left: 50%;
}

.header-nav__block {
  display: flex;
  text-align: center;
  position: absolute;
  overflow: hidden;
  width: 90%;
  flex-direction: space-between;
  top: 168px;
  left: 0px;
  background: url(/img/header-navbar-background.png);
  background-size: cover;
}

.header-nav__ul {
  margin: 0;
  padding: 0;
}

.header > span {
  display: inline-block;
}

.header-nav__liText:hover {
  color: #9fcfeb;
}

.header-nav__liText:active {
  color: #9fcfeb;
}

.header-logo__imageWithText {
  height: 100px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.header-logo_imageWithoutText {
  position: absolute;
  height: 100px;
  left: 0%;
  top: 0%;
  opacity: 1;
}

.header-logo {
  width: 100%;
  position: absolute;
  left: 1%;
  top: 6%;
}

.header-logos {
  position: absolute;
  height: 100px;
  left: 1%;
  top: 3%;
}

/* header design ends here */

.main {
  background-color: #f2f2f2;
  font-size: 20px;
  color: #ffffff;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 240px;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem 4rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

.cards-container__card {
  background-color: #0079c8;
}

.aside {
  background-color: #9fcfeb;
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer {
  background-color: #002c5f;
  grid-column: 1/3;
  grid-row: 3/4;
  height: 336%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.footer .footer__block ul {
  list-style-type: none;
}

.footer .footer__block ul li {
  text-align: center;
  padding-bottom: 10px;
}
.footer .footer__block ul li a:hover {
  color: rgb(104, 95, 230);
  text-decoration-line: underline;
}
.footer .footer__block ul li a {
  color: white;
  text-decoration: none;
  align-items: center;
  font: 18px;
  font-family: var(--Comfortaa);
}
.footer .footer__block ul li h2 {
  color: white;
  text-decoration: none;
  align-items: center;
  font: 18px;
  font-family: var(--Comfortaa);
}

.fa-arrow-circle-up {
  color: white;
}

.footer__logo {
  text-align: center;
  border-top: 1px solid rgb(120, 111, 98);
  border-bottom: 1px solid rgb(120, 111, 98);
}
.footer__logo img {
  width: 90%;
  height: 200px;
  margin: 20px 0;
}
.copyright {
  font-family: var(--Comfortaa);
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100%;
  }
  .header-nav__block {
    width: 100%;
    top: 250px;
  }
}

@media screen and (max-width: 990px) {
  .cards-container {
    padding-left: 3rem;
  }
  .main {
    grid-column: 1/3;
  }
  .aside {
    display: none;
  }
  .header {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100%;
  }
  .header-logo__imageWithoutText {
    opacity: 1;
  }
  .header-logo__imageWithText {
    opacity: 0;
  }
  .header-nav__liText {
    font-size: 0.9em;
  }
  .header-nav__block {
    width: 100%;
    top: 250px;
  }
}

@media screen and (max-width: 750px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }
  .footer {
    background-color: #002c5f;
    grid-column: 1/3;
    grid-row: 3/4;
    height: 484%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  .footer .footer__logo img {
    width: 90%;
    height: 144px;
    margin: 20px 0;
  }
  .header-nav__block {
    width: 100%;
    top: 200px;
  }
  .header-logos {
    left: 35%;
  }
}
