@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  --Open-Sans: "Open Sans", sans-serif;
  --Comfortaa: "Comfortaa", sans-serif;
  --primaryColor: #002c5f;
  --secondaryColor: #0079c8;
  --tertiaryColor: #9fcfeb;
  --backgroundGray: #ececec;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background: url(./img/shapelined-_JBKdviweXI-unsplash2.jpg);
  grid-template-rows: 150px 1fr 300px;
  font-family: var(--Open-Sans);
  background-color: var(--backgroundGray);
}

.main {
  font-size: 20px;
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.landing__page {
  grid-row: 2/3;
  grid-column: 1/3;
}

.landing-cards__container {
  width: 100%;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 400px;
  padding: 2rem 13rem;
  row-gap: 2em;
  column-gap: 3rem;
}

.landing__page-heading {
  font-size: 5rem;
  font-weight: 400;
  color: var(--secondaryColor);
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 2rem;
}

.category-card__container {
  width: 100%;
  height: 100%;
}

.category-card {
  box-shadow: 0 0 15px 2px #002c5f4d;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 6px;
}
.category-card:hover {
  transform: rotateY(180deg);
}

.category-card__front {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.category-card__front h1 {
  color: var(--primaryColor);
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}

.category-card__back {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--primaryColor);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
  flex-direction: column;
  box-shadow: 0 0 15px 2px rgba(0, 44, 95, 0.3);
  position: relative;
}

.category-card__back ul {
  list-style: none;
  text-align: center;
  width: 100%;
}

.category-card__back ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px 0;
  font-size: 1rem;
  width: 100%;
}
.category-card__back ul li:nth-of-type(1) {
  border-top: none;
}

.category-card__back a {
  text-decoration: none;
  color: black;
  background-color: white;
  font-weight: 400;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.category-card__back a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 12px -4px white;
}

/* Header design */
.headerBody {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo img {
  height: 80%;
  padding: 20px;
  padding-left: 40px;
}

.header__logo-title {
  width: 400px;
  margin-left: 20px;
  font-family: var(--Comfortaa);
  font-size: 1.3rem;
  font-weight: 400;
}

.header__logo-title span {
  font-size: 1em;
}

.header__nav {
  height: auto;
  width: 50%;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  border-radius: 4px 0 0 4px;
}

.nav__list {
  list-style: none;
  display: flex;
  padding-left: 10px;
}

.nav__list-burger {
  display: none;
  list-style: none;
  padding-left: 10px;
  user-select: none;
}

.nav__list-item {
  padding: 15px;
  font-size: 1rem;

  user-select: none;
}

.nav__list-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s;

  cursor: pointer;
}

.nav__list-item a:hover {
  color: var(--tertiaryColor);
}

/* Drop Down */
.nav__list-subitem {
  padding: 5px 0;
  display: block;
  position: absolute;
  background-color: #002c5f;
  padding: 20px 40px;
  text-align: left;
  transform-origin: top;
  transition: 0.4s cubic-bezier(0.76, 0, 0.24, 1);
  opacity: 0;
}

.nav__list-item ul li {
  list-style-type: none;
}

.header__btn {
  display: none;
}

/* Header design ends here */

/* Headings Styles Begin Here */

.academy__container {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  min-height: 900px;
}

.academy__heading {
  color: var(--secondaryColor);
  padding-left: 4rem;
  font-size: 4.5rem;
  margin: 3rem 0;
  font-weight: 400;
  align-self: flex-start;
}

.academy__sub-heading {
  color: var(--primaryColor);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2rem 4rem;
  font-weight: 700;
  margin-top: 0;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}

.academy__paragraph {
  color: var(--primaryColor);
  margin: 0 6rem 2rem 6rem;
}

.academy__paragraph ul {
  list-style-type: square;
  margin-left: 2rem;
  margin-top: 1rem;
}

.academy__paragraph ul a {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.academy__paragraph ul a:hover {
  color: var(--secondaryColor);
}

/* Headings Styles End Here */

/* Card Styles Start Here */

.cards__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 0 4rem 3rem 4rem;
  box-sizing: border-box;
}

.cards-container__card {
  background-color: #0079c8;
}

.card {
  width: 100%;
  max-height: 500px;
  background: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  box-shadow: 0 0 10px 0 #002d6180;
}

.card__button--active:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px -10px #00000040;
  transition: 0.3s;
  background-color: var(--secondaryColor);
}

.card__hover--active:hover {
  transform: scale(1.03);
  box-shadow: 0 0 40px -10px #00000040;
  transition: 0.3s;
}

.card__background {
  height: 70px;
  background-color: #002c5f;
  margin-bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.language__description {
  padding-left: 5%;
  padding-bottom: 15px;
  font-family: var(--Open-Sans);
}

.language__info {
  padding-left: 5%;
  margin-bottom: 10%;
  font-family: var(--Open-Sans);
}

.card__body {
  padding: 0px 20px;
  font-size: 17px;
  color: var(--primaryColor);
  background-color: #ffffff;
  padding-bottom: 70px;
  border-radius: 0 0 10px 10px;
}

.card__button {
  display: block;
  color: white;
  text-align: center;
  background: var(--primaryColor);
  text-decoration: none;
  padding: 7px 5px;
  max-width: 100px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 13px;
}

.card__logo__placeholder {
  background: #ffffff;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 55px;
  left: 20px;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1;
}

i.fab {
  font-size: 36px;
  color: var(--primaryColor);
}

/* Card Styles End Here*/

/* Modal Styles Begin Here */

.modal__outer {
  backdrop-filter: blur(6px);
  height: 100vh;
  width: 100%;
  position: fixed;
  background: rgba(143, 143, 143, 0.4);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  color: var(--primaryColor);
  transition: 0.01s ease-in-out;
}

.modal__inner {
  position: relative;
  max-width: 70%;
  min-height: 70vh;
  max-height: 95vh;
  background-color: #ffffff;
  border-radius: 6px;
  color: #000;
  padding: 45px 40px;
  overflow: auto;
  z-index: 10;
  transform: translateY(100%);
  transition: 0.4s ease-in-out;
}

.modal__outer--open {
  transform: scale(1);
}
.modal__inner--show {
  transform: translateY(0%);
}

.modal__close-btn {
  position: absolute;
  color: #00000088;
  font-size: 1.8rem;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__vlp-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 5px solid var(--secondaryColor);
}

.modal__vlp-container i {
  font-size: 1.5rem;
}

.modal__vlp-box {
  width: 140px;
  height: 110px;
  border-radius: 6px;
  background-color: var(--secondaryColor);
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.modal__heading {
  text-align: center;
  font-size: 3.1rem;
  font-weight: 400;
  color: var(--secondaryColor);
}

.modal__sub-heading {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 15px 10px;
}

.modal__paragraph {
  font-size: 1.1rem;
  margin: 1rem 1rem;
  margin-right: 6rem;
  padding-left: 20px;
  border-left: 5px solid var(--secondaryColor);
}

.modal__paragraph ul {
  list-style: none;
}
.modal__paragraph ul a {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 600;
  transition: 0.2s;
}
.modal__paragraph ul a:hover {
  color: var(--secondaryColor);
}

.modal__inner small {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.modal__inner small a {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 600;
}

.modal__inner small a:hover {
  text-decoration: underline;
  color: var(--secondaryColor);
}

/* Modal Styles End Here */

/* About us page styles Start here */
.about {
  margin-top: 60px;
  min-height: 80vh;
}

.about_info {
  position: absolute;
  top: 230px;
  right: 0px;
  width: 1000px;
  background-color: #fff;
  padding: 60px 70px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 50px;
  margin-right: 50px;
}

.about h1 {
  margin-bottom: 30px;
  font-size: 30px;
  /* font-weight: 900; */
  font-weight: 600;
  font-size: 2rem;
  color: var(--secondaryColor);
  font-family: var(--Open-Sans);
}

.about_info p {
  font-size: 15px;
  color: #545454;
  line-height: 1.5rem;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 40px;
  width: 100%;
  font-family: var(--Open-Sans);
}

.about_info a {
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: var(--secondaryColor);
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.about_info a:hover {
  transition: 0.5s;
  background-color: var(--primaryColor);
  color: var(--backgroundGray);
}

.about_info span {
  color: var(--secondaryColor);
}

.about_img img {
  width: 1000px;
  border-radius: 0px 5px 5px 0px;
  border-radius: 5px;
  margin-left: 50px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

/* about us cards part */
.about_cards {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003777;
}

.about_cards-mission-info {
  width: 1000px;
  padding: 40px 80px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  border-radius: 5px;
}
.about_cards-vision-info {
  width: 1000px;
  padding: 40px 80px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  border-radius: 5px;
}

.about_cards-auth-info {
  width: 1000px;
  padding: 40px 80px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.about_cards-mission-info h1,
.about_cards-vision-info h1,
.about_cards-auth-info h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--secondaryColor);
}

.about_cards-mission-info p,
.about_cards-vision-info p,
.about_cards-auth-info p {
  margin-top: 5px;
  font-weight: 500;
}

.about_cards-mission-info ul,
.about_cards-auth-info ul {
  margin-top: 15px;
  line-height: 30px;
  list-style-position: inside;
}

.about_cards-auth-info span,
.about_cards-mission-info span {
  font-weight: bold;
}

/* about us - team part */
.about_us-team {
  margin-top: 50px;
  min-height: 100vh;
}

.about_us-team h1 {
  font-family: var(--Open-Sans);
  font-size: 52px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--secondaryColor);
  font-weight: 600;
}

.about_us-team .description {
  margin: 0px auto;
  padding: 30px 200px;
  text-align: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.about_us-team .description span {
  color: var(--primaryColor);
  font-weight: bold;
  font-family: var(--Open-Sans);
}

.team {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 500px;
  height: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  font-family: var(--Comfortaa);
  border-radius: 8px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}
.team .team_member h3 {
  color: var(--secondaryColor);
  font-size: 26px;
  margin-top: 50px;
  font-family: var(--Open-Sans);
  font-weight: 600;
}

.team .team_member p.role {
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--Open-Sans);
}

.team .team_member .team_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
}

/* About us page styles Ends here */

/* Aside Styles Start Here */

.aside {
  margin: 80px 0 50px 15px;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
  /* background-color: #ececec; */
}
.aside__item {
  width: 100%;
  color: #fff;
  font-family: var(--Open-Sans);
  font-size: 18px;
  font-weight: 600;
}

.aside__item-link {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  background-color: #fff;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px 10px 16px 0;
  text-decoration: none;
  text-align: right;
  color: var(--primaryColor);
  width: 100%;
  line-height: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #002d6199;
  border-left: 2px solid #002d6166;
  border-radius: 6px;
  box-shadow: -8px 8px 10px #002d6133;
  transition: 0.5s;
  transition-property: background;
}

.aside__item-link:hover {
  background: var(--primaryColor);
  color: #fff;
}
/* Aside Styles End Here */

/* Footer Styles Start Here */

.aside__item-link {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  background-color: #fff;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px 10px 16px 0;
  text-decoration: none;
  text-align: right;
  color: var(--primaryColor);
  width: 100%;
  line-height: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #002d6199;
  border-left: 2px solid #002d6166;
  border-radius: 6px;
  box-shadow: -8px 8px 10px #002d6133;
  transition: 0.5s;
  transition-property: background;
}

.aside__item-link:hover {
  background: var(--primaryColor);
  color: #fff;
}
/* Aside Styles End Here */

/* Footer Styles Start Here */

.footer {
  position: relative;
  background-color: #002147;
  grid-column: 1/3;
  grid-row: 3/5;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 30px;
}
.footer .footer__block {
  width: 15%;
}

.footer .footer__block ul {
  list-style-type: none;
}
.footer .footer__icon {
  position: absolute;
  right: 30px;
  top: 30px;
}

.footer .footer__block ul li {
  padding-bottom: 10px;
}
.footer .footer__block ul li a:hover {
  color: #0079c8;
  text-decoration-line: none;
  transition: 0.2s;
}
.footer .footer__block ul li a {
  color: white;
  text-decoration: none;
  align-items: center;
  font-family: var(--Comfortaa);
}
.footer .footer__block ul li h2 {
  color: white;
  text-decoration: none;
  align-items: center;
  font-family: var(--Comfortaa);
}

.fa-arrow-circle-up {
  color: white;
}

.footer__logo {
  border-top: 1px solid rgb(120, 111, 98);
  border-bottom: 1px solid rgb(120, 111, 98);
  width: 80%;
  height: 50%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo img {
  padding: 20px 0px;

  width: 40%;
}
.footer__copyright {
  margin-left: 150px;
  margin-right: 150px;
  font-family: var(--Comfortaa);
  color: #ffffff;
}

/* Footer Styles End Here */

/* Utility classes for displaying different content */
.element-hide {
  display: none;
}

@media screen and (max-width: 1600px) {
  .modal__inner {
    max-width: 90%;
    max-height: 90vh;
  }

  .landing-cards__container {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 1300px) {
  .cards__container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .landing-cards__container {
    padding: 2rem 10rem;
    grid-template-columns: 1fr 1fr;
  }
  .modal__inner {
    min-width: 90%;
    max-width: 95%;
    max-height: 95vh;
  }

  .header__logo img {
    height: 70%;
  }

  .header__logo-title {
    width: 300px;
    font-size: 1.2rem;
  }
  .about {
    position: relative;
    min-height: 70vh;
    text-align: left;
  }

  .about_info {
    top: 0;
    position: relative;
    text-align: left;
    margin: 0 auto;
  }

  .about_img {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .academy__container {
    grid-column: 1/3;
  }

  .landing__page-heading {
    font-size: 4rem;
  }

  .landing-cards__container {
    grid-template-columns: 1fr;
    padding: 2rem 11rem;
    row-gap: 3rem;
  }

  .modal__inner {
    min-width: 100%;
    min-height: 100vh;
    border-radius: 0;
    overflow: auto;
    padding-bottom: 2rem;
  }

  .modal__inner small {
    position: static;
    display: block;
    text-align: right;

    margin-top: 4rem;
  }

  .aside {
    display: none;
  }

  .about_info {
    background-color: #ffffff;
    width: 90%;
    padding: 50px 60px;
  }

  .about_cards {
    width: 100%;
    margin-left: 10px;
    margin: 0;
    margin-top: 50px;
  }

  .about_cards-mission-info,
  .about_cards-vision-info,
  .about_cards-auth-info {
    width: 90%;
    padding: 50px 60px;
  }
  .about_us-team {
    width: 100%;
  }
  .about_us-team h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .about_us-team .description {
    width: 90%;
    padding: 20px 100px;
  }
  .team .team_member {
    width: 40%;
  }

  .footer .footer__block {
    width: 25%;
  }

  .footer {
    font-size: 0.9rem;
  }

  .footer__copyright {
    margin: 0;
  }

  .header__nav {
    display: none;
  }

  .nav__list-burger {
    display: flex;
    flex-flow: column;
    position: absolute;
    width: 300px;
    padding: 10px 80px 15px 8px;
    top: 50px;
    right: 20px;
    background-color: var(--primaryColor);
    box-shadow: 0 0 15px 2px #002c5f66;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transform-origin: top right;
    transform: scaleX(0) scaleY(0);
    transition: 0.3s;
  }

  .nav__item-submenu {
    display: flex;
    flex-flow: column;
    list-style: none;
    overflow: hidden;
    height: 0;
    color: #fff;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    border-left: 3px solid #ffffff99;
    cursor: pointer;
    transform-origin: top;
    transition: 0.4s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .nav__item-submenu li {
    padding-top: 10px;
    transition: 0.2s ease-in-out;
  }

  .nav__item-submenu li:hover {
    color: var(--tertiaryColor);
  }

  .nav__item-submenu li:nth-of-type(1) {
    padding-top: 0;
  }

  .nav__list-burger > .nav__list-item {
    padding: 12px;
  }

  .header__btn {
    display: flex;
    padding: 0 10px 0 10px;
    margin-right: 20px;
    background-color: var(--primaryColor);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }

  .header__btn-burger {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  .header__btn-burger::before,
  .header__btn-burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .header__btn-burger::before {
    transform: translateY(-10px);
  }

  .header__btn-burger::after {
    transform: translateY(10px);
  }

  /* Hamburger Button Animation */
  .header__btn.open .header__btn-burger {
    background: transparent;
  }

  .header__btn.open .header__btn-burger::before {
    transform: rotate(45deg);
  }

  .header__btn.open .header__btn-burger::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 750px) {
  .cards__container {
    grid-template-columns: 1fr;
  }
  .landing__page-heading {
    font-size: 3rem;
  }

  .landing-cards__container {
    padding: 2rem 5rem;
  }

  .academy__heading {
    font-size: 2.5rem;
  }

  .modal__paragraph {
    margin-right: 2rem;
  }

  .modal__vlp-container {
    flex-direction: column;
    padding-right: 2rem;
  }

  .modal__vlp-box {
    height: 100%;
    width: 100%;
  }

  .academy__sub-heading {
    margin: 0 2.5rem 2rem 2.5rem;
  }

  .header__logo img {
    height: 50%;
    padding: 15px;
    padding-left: 30px;
  }

  .header__logo-title {
    font-size: 1rem;
    margin: 0;
  }

  .about_info {
    width: 95%;
  }

  .about_info p {
    width: 100%;
  }

  .about_cards {
    width: 100%;
    /* margin-left: 20px; */
    margin-top: 50px;
    box-shadow: none;
  }

  .about_cards-mission-info,
  .about_cards-vision-info,
  .about_cards-auth-info {
    width: 90%;
  }

  .about_us-team h1 {
    width: 100%;
    font-size: 2.5rem;
    /* margin-left: 20px; */
  }

  .about_us-team .description {
    width: 80%;
    padding: 20px 20px;
    /* margin-left: 80px; */
  }

  .team .team_member {
    width: 70%;
    /* margin-left: 80px; */
  }

  .footer {
    background-color: #002c5f;
    grid-column: 1/3;
    grid-row: 3/5;
    height: 900px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .footer .footer__logo {
    align-self: center;
    justify-self: center;
    height: 144px;

    align-self: center;
  }
  .footer .footer__logo img {
    width: 70%;
  }

  .footer .footer__block {
    width: 56%;
    align-self: end;
  }

  .footer__copyright {
    margin: 0;
    font-family: var(--Comfortaa);
    color: #ffffff;
    text-align: center;
  }
}

/* IPhone 5/6 breakpoint */
@media screen and (min-width: 300px) and (max-width: 480px) {
  .landing-cards__container {
    padding: 1.5rem 1.5rem;
  }

  .modal__inner {
    padding: 3rem 1rem;
  }

  .modal__inner small {
    position: static;
  }

  .modal__heading {
    font-size: 2rem;
  }

  .modal__paragraph {
    width: 90%;
  }

  .academy__heading {
    padding-left: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    padding: 0;
  }

  .academy__paragraph {
    margin: 2rem;
  }

  .header {
    height: 120px;
  }

  .header__logo img {
    height: 60%;
    padding: 15px;
  }
  .header__logo-title {
    font-size: 0.7rem;
    width: 50%;
    font-weight: 800;
  }

  .nav__list-burger {
    top: 40px;
    right: 20px;
    padding: 20px 20px 15px 22px;
    width: 280px;
  }

  .header__btn {
    width: 40px;
    height: 40px;
  }

  .header__btn-burger {
    width: 23px;
    height: 3px;
  }

  .header__btn-burger::before,
  .header__btn-burger::after {
    width: 20px;
    height: 3px;
  }

  .cards__container {
    padding: 0 2rem 2rem 2rem;
  }

  .footer .footer__logo img {
    width: 80%;
  }

  .about {
    margin-top: 20px;
  }

  .about_cards div h1 {
    font-size: 1.3rem;
  }

  .about_cards div {
    padding: 30px 40px;
    width: 95%;
  }

  .team .team_member {
    width: 90%;
  }

  .about_us-team h1 {
    font-size: 1.7rem;
  }
}
/* dddd */
