@use "../../styles/variables.scss" as var;
@use "../../styles/mixins.scss" as mixins;

.carouselMain {
  margin-top: 7rem;
  margin-bottom: 6rem;
  // width: 100%;
  min-width: 90%;
  z-index: 1;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    background: url("/img/background-img.jpg") 0 0;
    opacity: 0.3;
  }
}

.carouselContainer {
  overflow: hidden;

  display: flex;
  flex-shrink: 0;

  .carouselSlide {
    display: flex;

    justify-content: center;
    transition: 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    .imageContainer {
      width: 1000px;
      overflow: hidden;
      display: none;

      @include mixins.breakpoint(tv) {
        display: block;
      }
    }
  }
}
.carouselControls {
  display: flex;
  flex-wrap: wrap;
  button {
    border: none;
    font-family: var.$font-open-sans;
    background: rgba(255, 255, 255, 0.4);

    color: white;
    color: var.$primary-dark;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 10px;
    cursor: pointer;
    border-bottom: 3px solid rgba(255, 255, 255, 0);

    @include mixins.breakpoint(desktop) {
      font-size: 2rem;
      font-weight: 600;
    }

    &:hover {
      background-color: var.$light-gray;
    }
  }
  @include mixins.breakpoint(tv) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 80%;
  width: 500px;
  padding: 2rem 3rem;
  padding-top: 0;

  h2 {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    margin-top: 0.5rem;
    font-size: 1.6rem;
  }
}
