@import "../../styles/mixins";
@import "../../styles/variables";

.academyCard {
  background-color: #fff;
  margin: 0 2rem 1.5rem 0;
  width: 10rem;
  height: 12rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-family: $font-poppins;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding-bottom: 1rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;

  .unfinishedOverlay {
    width: 100%;
    height: 100%;
    position: absolute;

    margin-top: 1rem;
    background-color: rgba(247, 199, 43, 0.7);

    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    span {
      background-color: #353336;
      color: white;
      position: absolute;
      top: 30%;
      left: -25%;
      padding: 0 7rem;
      flex-basis: 40rem;
      display: block;
      font-size: 12px;
      transform: rotate(-45deg);

      @include breakpoint(laptop) {
        font-size: 20px;
      }
      @include breakpoint(largedesktop) {
        padding: 0 8.5rem;
      }

      @include breakpoint(tv) {
        font-size: 25px;
        padding: 0 9.5rem;
        left: -26%;
      }
    }
  }

  @include breakpoint(tablet) {
    width: 14rem;
    height: 16rem;
  }

  @include breakpoint(laptop) {
    width: 17rem;
    height: 19rem;
  }

  @include breakpoint(desktop) {
    width: 18rem;
    height: 20rem;
  }

  @include breakpoint(largedesktop) {
    width: 21rem;
    height: 23rem;
  }

  @include breakpoint(tv) {
    width: 24rem;
    height: 26rem;
  }

  img {
    width: 6.5rem;
    padding-top: 0.75rem;

    @include breakpoint(tablet) {
      width: 8.5rem;
      padding-top: 1.5rem;
    }

    @include breakpoint(laptop) {
      width: 10.2rem;
      padding-top: 1.5rem;
    }

    @include breakpoint(desktop) {
      width: 11rem;
      padding-top: 1.5rem;
    }

    @include breakpoint(largedesktop) {
      width: 12.5rem;
      padding-top: 1.5rem;
    }

    @include breakpoint(tv) {
      width: 12.5rem;
      padding-top: 1.5rem;
    }
  }

  span {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: $font-poppins;
    color: $logo-blue-dark;
    margin-top: 0.5rem;

    @include breakpoint(tablet) {
      font-size: 1.8rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include breakpoint(laptop) {
      font-size: 2.2rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include breakpoint(desktop) {
      font-size: 2.2rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include breakpoint(largedesktop) {
      font-size: 2.3rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include breakpoint(tv) {
      font-size: 2.3rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
}

.academyCard:hover {
  background: #e2f1f4;
  transform: scale(1.04);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  //box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.academyCard:active {
  transform: scale(1);
}
