@use "../../../styles/mixins.scss" as mixins;

.logoContainer {
  position: absolute;
  display: flex;
  align-items: center;
  color: white;
  top: 5rem;
  margin-left: 3rem;
  z-index: 2;
  cursor: pointer;

  .logoImage {
    width: 5rem;
  }

  .logoText {
    margin-left: 1rem;
    display: block;
    width: 200px;
    font-weight: 500;
    font-size: 1.5rem;
    @include mixins.breakpoint(laptop) {
      display: none;
    }
    @include mixins.breakpoint(largedesktop) {
      display: block;
      margin-left: 1rem;
      display: block;
      width: 300px;
      font-weight: 500;
      font-size: 2rem;
    }
  }
}
