@use "../../styles/variables.scss" as var;
@use "../../styles/mixins.scss" as mixins;

.card {
  font-weight: 400;
  background-color: #fcfcfc;
  // width: 250px;
  width: 285px;
  height: 220px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  margin: 1.8rem 0;
  margin-left: 0;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @include mixins.breakpoint(tablet) {
    width: 250px;
  }

  @include mixins.breakpoint(laptop) {
    margin: 1.8rem;
    display: flex;
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("/img/background-img.jpg");
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 120%;
    height: 50%;
    position: absolute;
    top: -25%;
    transform: rotate(-4deg);
    background: rgba(0, 42, 126, 0.733);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  h3 {
    font-weight: 400;
    font-size: 2.1rem;
    top: 42%;
    width: 80%;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: absolute;
  }

  span {
    position: absolute;
    bottom: -15%;
    right: 0;
    margin: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    z-index: 2;
  }
  &:hover h3 {
    // margin-bottom: 8rem;
    top: 18%;
    z-index: 1;
  }

  &:hover span {
    bottom: 0%;
    z-index: 1;
    color: white;
  }

  &:hover::after {
    height: 150%;
  }
}
