@use "../../styles/variables.scss" as var;
@use "../../styles/mixins.scss" as mixins;

.academyCard {
  background-color: #fff;
  margin: 0 2rem 1.5rem 0;
  width: 10rem;
  height: 12rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-family: var.$font-poppins;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 2rem 0 3.5rem 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  @include mixins.breakpoint(tablet) {
    width: 14rem;
    height: 16rem;
  }

  @include mixins.breakpoint(laptop) {
    width: 17rem;
    height: 19rem;
  }

  @include mixins.breakpoint(desktop) {
    width: 18rem;
    height: 20rem;
  }

  @include mixins.breakpoint(largedesktop) {
    width: 21rem;
    height: 23rem;
  }

  @include mixins.breakpoint(tv) {
    width: 22rem;
    height: 24rem;
  }

  img {
    width: 6.5rem;
    padding-top: 0.75rem;

    @include mixins.breakpoint(tablet) {
      width: 8.5rem;
      padding-top: 1.5rem;
    }

    @include mixins.breakpoint(laptop) {
      width: 10.2rem;
      padding-top: 1.5rem;
    }

    @include mixins.breakpoint(desktop) {
      width: 11rem;
      padding-top: 1.5rem;
    }

    @include mixins.breakpoint(largedesktop) {
      width: 12.5rem;
      padding-top: 1.5rem;
    }

    @include mixins.breakpoint(tv) {
      width: 12.5rem;
      padding-top: 1.5rem;
    }
  }

  span {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var.$font-poppins;
    color: var.$logo-blue-dark;
    margin-top: 0.5rem;
    //font-family: var.$font-open-sans;

    @include mixins.breakpoint(tablet) {
      font-size: 1.8rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include mixins.breakpoint(laptop) {
      font-size: 2.2rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include mixins.breakpoint(desktop) {
      font-size: 2.2rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include mixins.breakpoint(largedesktop) {
      font-size: 2.3rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    @include mixins.breakpoint(tv) {
      font-size: 2.3rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
}

.academyCard:hover {
  background: #e2f1f4;
  transform: scale(1.04);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
  //box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.academyCard:active {
  transform: scale(1);
}
