@use "/styles/variables.scss" as var;
@use "/styles/mixins.scss" as mixins;

.backToTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  right: 5.5rem;
  z-index: 2;
  cursor: pointer;
  opacity: 0.7;
  animation: slideIn 0.5s ease-in-out forwards;
  img {
    width: 4rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg)
      brightness(100%) contrast(104%);
  }
  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}
