@use "../../styles/variables.scss" as var;

.dataBox {
  //   transition: 0.3s;
  max-height: 220px;
  overflow: hidden;
}

.competenciesHeading {
  font-size: 3rem;
  font-weight: 400;
}
.open {
  transition: 1.5s;
  max-height: 5000px;
}

.close {
  transition: 0.1s;
  max-height: 230px;
}

.showMoreBtn {
  padding: 10px;
  margin-top: 15px;
  font-size: 1.6rem;
  border: none;
  background-color: var.$primary;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 0.4rem;

  &:hover {
    background-color: var.$primary-light;
  }
}
