@use "./variables.scss" as var;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  font-size: var.$global-font-size;
  font-family: var.$font-open-sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  background: url("/img/background-img.webp") 0 0 no-repeat fixed;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
