//Global Font Size
$global-font-size: 10px;

//Font Variables
$font-open-sans: "Open Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;

// Color Variables
$logo-blue-dark: #002061;
$logo-blue-medium: #0079c8;

$gray-light: #cccccc;
$gray-medium: #707070;

$navy-dark: #182235;
$navy-medium: #0095d6;
$navy-light: #e5f1ff;

$lavender-medium: #a8bce6;
$lavender-light: #d9e0f0;
