/* STYLES FOR THE WHOLE DOCUMENT */

/* *, ::after, ::before {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DIN Pro Light", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img-avatars/background.png);
} */

:root {
  --dark-blue: #002c5f;
  --light-blue: #e9effe;
  --bright-blue: #a1cfeb;
  --white: #ffffff;
  --gray-blue: #c5cfe9;
  --shadow: #eceff3;
  --btn-brown-red: #a97060;
  --btn-purple: #7f60a9;
  --btn-green: #8ba960;
  --btn-pink: #d378c4;
  --btn-card-blue: #99bddd;
  --btn-card-purple: #9d1662;
  --btn-card-shadow-dark-blue: #002c5f;
  --btn-card-gray: #808080;
  --typing-animation-dot-color1: #78b6fd;
  --typing-animation-dot-color2: #002c5f;
  --typing-animation-dot-color3: #002c5f8f;
  --typing-animation-dot-color4: #002c5f;
  --modal-bckg-white: #ebebeb;
  --modal-close-hover-pink: #e26f6f;
  --modal-quizz-hr-dark: #c5cfe900;
  --modal-form-check-blue: #c5cfe9;
  --modal-form-games-border-gray: #ccc;
  --chat-maximize-border-purple: #7f60a9;
  --aricoma-gold: #a98e5b;
}

/* STYLES FOR THE CHAT WINDOW */

.main-window {
  border-top: none;
  border-radius: 1.563rem;
  transition: all 1s ease-out;
  visibility: visible;
  position: fixed;
  right: 2%;
  bottom: 1%;
  width: 24.875rem;
  height: 80%;
  max-height: 40.25rem;
  background-color: var(--white);
  border: 1px solid var(--dark-blue);
}

.header {
  width: 100%;
  height: 15%;
  min-height: 6.25rem;
  min-width: 24.75rem;
  background-color: var(--dark-blue);
  z-index: -1;
  border-radius: 1.5625rem 1.5625rem 0.75rem 0.75rem;
}

.img-logo {
  background-image: url(../img-avatars/HARALAMPIYE.png);
  background-size: cover;
  height: 7.5rem;
  width: 7.5rem;
  margin: 0.938rem 0 0 8.625rem;
  position: absolute;
  z-index: 1;
}

.chat-Name {
  position: absolute;
  margin: 0.9rem 0 0 9.375rem;
  color: var(--white);
  text-align: center;
  opacity: 0;
  word-wrap: break-word;
  width: 110px;
}

.chat-minimize {
  margin: 1.25rem 0 0 21.875rem;
  background-image: url(../img-avatars/minimize.svg);
  background-size: cover;
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--dark-blue);
  border: none;
}

.chat-maximize {
  position: fixed;
  bottom: 3.125rem;
  right: 3.125rem;
  background-image: url(../img-avatars/HARALAMPIYE.png);
  background-color: var(--dark-blue);
  background-size: cover;
  border-radius: 3.75rem;
  width: 6.25rem;
  height: 6.25rem;
  border: none;
  display: none;
}

#chatMaximize {
  transition: all 1s ease-in-out;
  border: 3px solid var(--aricoma-gold);
  opacity: 0;
  display: block;
  visibility: hidden;
  transform: translateY(-2200px);
}

.chat-window {
  width: 100%;
  height: 73%;
  border-radius: 1.563rem 1.563rem 0 0;
  background-color: var(--white);
  border-top: 0.375rem solid var(--bright-blue);
  margin-top: -7.5%;
  position: relative;
}

.twoRowBtnFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2% 0 10% 0;
  height: 85%;
  width: 100%;
}

/* Media queries for chat window vertical responsiveness */

@media screen and (max-height: 789px) {
  .chat-window {
    height: 73%;
  }
}

@media screen and (max-height: 750px) {
  .chat-window {
    height: 72%;
  }
}

@media screen and (max-height: 711px) {
  .chat-window {
    height: 70%;
  }
}

@media screen and (max-height: 672px) {
  .chat-window {
    height: 68%;
  }
}

@media screen and (max-height: 633px) {
  .chat-window {
    height: 66%;
  }
}

@media screen and (max-height: 594px) {
  .chat-window {
    height: 64%;
  }
}

@media screen and (max-height: 555px) {
  .chat-window {
    height: 62%;
  }
}

@media screen and (max-height: 516px) {
  .chat-window {
    height: 60%;
  }
}

@media screen and (max-height: 477px) {
  .chat-window {
    height: 55%;
  }
}

@media screen and (max-height: 438px) {
  .chat-window {
    height: 50%;
  }
}

@media screen and (max-height: 399px) {
  .chat-window {
    height: 45%;
  }
}

@media screen and (max-height: 360px) {
  .chat-window {
    height: 40%;
  }
}

@media screen and (max-height: 359px) {
  .chat-window {
    height: 40%;
  }
  .main-window {
    height: 290px;
  }
}

.chat {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 24.875rem;
  height: 100%;
}

.chat-history {
  margin-top: 2%;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1%;
}

.greetingMessage {
  margin-top: 10%;
  color: var(--dark-blue);
  font-family: "DIN Pro Bold", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.greetingMessageQue {
  color: var(--dark-blue);
  margin-bottom: 1.563rem;
  text-align: center;
}

.chat-hr {
  background-color: var(--gray-blue);
  border-radius: 0.125rem;
  border: none;
}

.chat-js-hr {
  width: 1.875rem;
  background-color: var(--gray-blue);
  border-radius: 0.125rem;
  margin: 0 auto 0.938rem auto;
  padding: 0.094rem;
  border: none;
}

.errorWrapper {
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorWrapper :first-child {
  width: 15rem;
}

.errorText {
  font-size: 1.5rem;
  padding-top: 5%;
  font-weight: bolder;
  text-align: center;
  color: #f84d4d;
}

/* RECOMMENDED BUTTONS DIV */

.chat-recommended-div {
  width: 100%;
  color: var(--dark-blue);
  padding: 0 1.25rem;
  display: none;
  overflow: hidden;
}

.slideDiv {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 1.5% 0;
}

/* STYLES FOR GAMES ICON */

.chat-games {
  width: 5rem;
  height: 2.188rem;
  background-color: var(--dark-blue);
  position: absolute;
  margin: 1.25rem 0 0 3.563rem;
  border-radius: 0.625rem;
  border: 0.1rem solid var(--white);
  border-top: 0.213rem solid var(--white);
  color: var(--white);
}

.chat-games-icon {
  position: absolute;
  width: 2.25rem;
  height: 1.875rem;
  margin: 1.4rem 0 0 17rem;
  border: none;
  background: transparent;
}

/* STYLES FOR QUIZZES ICON */

.chat-quizzes {
  width: 5rem;
  height: 2.188rem;
  background-color: var(--dark-blue);
  position: absolute;
  margin: 1.25rem 0 0 16.25rem;
  border-radius: 0.625rem;
  border: 0.1rem solid var(--white);
  border-top: 0.213rem solid var(--white);
  color: var(--white);
}

.chat-quizzes-icon {
  position: absolute;
  margin: 1.35rem 0 0 19.2rem;
  width: 2.75rem;
  height: 1.875rem;
  border: none;
  background: transparent;
}

/* STYLES FOR USER INPUT */

.chat-searchInput-div {
  background-color: var(--light-blue);
  bottom: 0;
  margin: 1.25rem 0.938rem;
  width: 22.875rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input {
  background-color: var(--light-blue);
  border: none;
  margin-top: 1rem;
  margin-left: 0.625rem;
  width: 18.75rem;
  height: 2.625rem;
  outline: none;
  color: var(--dark-blue);
}

#input:focus-within::placeholder {
  color: var(--dark-blue);
}

.chat-inputButton {
  display: none;
  background-image: url(../img-avatars/send.svg);
  background-size: cover;
  width: 1.563rem;
  height: 1.563rem;
  border: none;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  margin-right: 0.625rem;
}

#voiceRecognitionLoader {
  display: none;
  width: 1rem;
  height: 1rem;
  border: none;
  padding-right: 2.7rem;
  padding-bottom: 2.1rem;
}

.voice-inputButton {
  display: block;
  background-image: url(../img-avatars/mic.svg);
}

#searchInput:focus-within {
  border: 0.063rem solid var(--dark-blue);
}

#searchInputWraper {
  height: 90px;
  border-radius: 0 0 1.563rem 1.563rem;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
}

/* STYLES FOR THE BUTTONS */

.main-chat-buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.Academies {
  width: 7.5rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: none;
  border-top: 0.313rem solid var(--btn-brown-red);
  box-shadow: 0.188rem 0.188rem 0.313rem var(--shadow);
  background-color: var(--white);
  color: var(--btn-brown-red);
  margin: 0.313rem;
}

.Testing {
  width: 7.5rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: none;
  border-top: 0.313rem solid var(--btn-purple);
  box-shadow: 0.188rem 0.188rem 0.313rem var(--shadow);
  background-color: var(--white);
  color: var(--btn-purple);
  margin: 0.313rem;
}

.Courses {
  width: 7.5rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: none;
  border-top: 0.313rem solid var(--btn-green);
  box-shadow: 0.188rem 0.188rem 0.313rem var(--shadow);
  background-color: var(--white);
  color: var(--btn-green);
  margin: 0.313rem;
}

/* Contact Us style button */

.contactUs {
  width: 7.5rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: none;
  border-top: 0.313rem solid var(--btn-pink);
  box-shadow: 0.188rem 0.188rem 0.313rem var(--shadow);
  background-color: var(--white);
  color: var(--btn-pink);
  margin: 0.313rem;
}

.chat-buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.625rem;
}

.chatBotBtns {
  display: inline-block;
  height: 2.5rem;
  min-width: 5rem;
  padding: 2%;
  border-radius: 0.313rem;
  border: none;
  border-top: 0.125rem solid var(--dark-blue);
  box-shadow: 0.188rem 0.188rem 0.313rem var(--shadow);
  background-color: var(--light-blue);
  color: var(--dark-blue);
  margin: 0.313rem;
}

.recommendedButtons {
  display: inline-block;
  height: 3.438rem;
  width: 18.75rem;
  padding: 1%;
  border-radius: 0.313rem;
  box-shadow: 0.188rem 0.188rem 0.313rem var(--shadow);
  background-color: var(--light-blue);
  border: 0.063rem solid var(--gray-blue);
  color: var(--dark-blue);
  margin: 0.313rem;
  overflow: hidden;
  font-size: 0.9rem;
}

.btnCard {
  width: 45%;
  height: 6rem;
  border: 1.5px solid var(--aricoma-gold);
  border-radius: 0.625rem;
  box-shadow: 0.188rem 0.188rem 0.313rem var(--shadow);
  background-color: var(--white);
  color: var(--dark-blue);
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.gamesCardBorderColor {
  border: 1.5px solid var(--btn-card-purple);
}

.btnCardName {
  color: var(--white);
  text-shadow: -0.5px -0.5px 0 var(--btn-card-shadow-dark-blue),
    0.5px -0.5px 0 var(--btn-card-shadow-dark-blue),
    -0.5px 0.5px 0 var(--btn-card-shadow-dark-blue),
    0.5px 0.5px 0 var(--btn-card-shadow-dark-blue);
  background-color: var(--aricoma-gold);
  font-weight: bold;
  padding: 0.5rem 0.8rem;
  font-size: 14.5px;
  text-align: left;
  float: left;
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
}

.gamesCardColor {
  background-color: var(--btn-card-purple);
}

.btnCardDescription {
  color: var(--btn-card-gray);
  overflow-y: auto;
  font-size: 12px;
  padding: 0.5rem 0.8rem 0.2rem 0.8rem;
  width: 100%;
  text-align: left;
}

button:hover {
  cursor: pointer;
  transform: scale(1.08);
}

/* ANIMATIONS */

/* GAMES & QUIZZES*/

.games-quizzesAnimation {
  animation: games-quizzesKeyFrame 1s ease-in-out 1;
}

@keyframes games-quizzesKeyFrame {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

/* IMG ANIMATION  */

.avatarAnimation {
  animation: avatarKeyFrame 1s ease-in-out 1;
}

@keyframes avatarKeyFrame {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(-7.375rem, -0rem);
  }
  100% {
    transform: translate(-7.375rem, -2.188rem);
  }
}

/* AVATAR NAME */

.fadeIn-avatarName {
  animation: fadeInAvatarNameKeyFrame 1s ease-in-out 0.5s 1;
}

@keyframes fadeInAvatarNameKeyFrame {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* LOADER ANIMATION */

.typing .dot {
  animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  background-color: var(--typing-animation-dot-color1);
  border-radius: 50%;
  height: 0.438rem;
  margin-right: 0.25rem;
  vertical-align: middle;
  width: 0.438rem;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0rem);
    background-color: var(--typing-animation-dot-color2);
  }
  28% {
    transform: translateY(-0.438rem);
    background-color: var(--typing-animation-dot-color3);
  }
  44% {
    transform: translateY(0rem);
    background-color: var(--typing-animation-dot-color4);
  }
}

/* RECOMMENDED SLIDER */

.slider {
  animation: sliderKeyFrame linear 8s infinite;
}

.slider:hover {
  animation-play-state: paused;
}

@keyframes sliderKeyFrame {
  0% {
    transform: translate(-25rem, 0rem);
    z-index: 1;
  }
  30% {
    transform: translate(0rem, 0rem);
    z-index: 1;
  }
  70% {
    transform: translate(0rem, 0rem);
    z-index: 1;
  }
  100% {
    transform: translate(25rem, 0rem);
    z-index: 1;
  }
}

/* ANIMATION FOR BUBBLE WOBBLE */

.jello-horizontal {
  animation: jello-horizontal 4s linear infinite 1s;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  7.5% {
    transform: scale3d(1.25, 0.75, 1);
  }
  10% {
    transform: scale3d(0.75, 1.25, 1);
  }
  12.5% {
    transform: scale3d(1.15, 0.85, 1);
  }
  16.25% {
    transform: scale3d(0.95, 1.05, 1);
  }
  18.75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  25% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* STYLES FOR MESSAGES */

.chatBubblesUser {
  margin: 0rem 0.938rem 0.625rem 3.125rem;
  padding: 0.938rem;
  float: right;
  background-color: var(--light-blue);
  border-radius: 0.938rem 0.938rem 0 0.938rem;
  clear: both;
  color: var(--dark-blue);
  max-width: 80%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.chatUserYou {
  margin: 0rem 1.5rem 0rem 0rem;
  padding: 0rem;
  float: right;
  clear: both;
  color: var(--dark-blue);
  font-size: 0.75rem;
}

.chatBubblesBot {
  margin: 0.313rem 3.125rem 0rem 0.938rem;
  padding: 0.938rem;
  float: left;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 0.938rem 0.938rem 0.938rem 0;
  clear: both;
  white-space: pre-wrap;
  max-width: 80%;
  word-wrap: break-word;
}

.chatBotName {
  margin: 0rem 0rem 0rem 1.5rem;
  padding: 0rem;
  float: left;
  clear: both;
  color: var(--dark-blue);
  font-size: 0.75rem;
}

/* LOADER STYLE */

#loader {
  display: none;
}

.loader-bubble {
  background-color: var(--light-blue);
  padding: 0.75rem 1.375rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0.125rem;
  display: inline-block;
  margin-left: 0.938rem;
}

.typing {
  align-items: center;
  display: flex;
  height: 1.063rem;
}

/* SCROLL BARR */

::-webkit-scrollbar {
  width: 0.344rem;
  padding-top: 1.25rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 1.25rem;
}

::-webkit-scrollbar-track-piece {
  margin: 1.875rem 0;
}

/* POPUP MODAL STYLES */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--modal-bckg-white);
  border-radius: 0.938rem;
  margin: auto;
  padding: 2%;
  border: 1px solid (var(--dark-blue));
  width: 35%;
  height: 70%;
  overflow: hidden;
}

.close {
  color: var(--dark-blue);
  margin-left: 100%;
  font-size: 28px;
  font-weight: bold;
  margin-top: -6%;
}

.close:hover,
.close:focus {
  color: var(--modal-close-hover-pink);
  text-decoration: none;
  cursor: pointer;
}

.popUp {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 99%;
  padding-bottom: 5%;
  overflow-y: auto;
}

/* QUIZZES STYLES */

#quizesMessage {
  width: 14rem;
  padding-top: 1rem;
  margin: 0 auto 2rem auto;
  color: var(--dark-blue);
  font-family: "DIN Pro Bold", sans-serif;
  font-size: 1.563rem;
  text-align: center;
}

.chat-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.somethingWentWrongMessage {
  width: 14rem;
  margin: 20% auto 0 auto;
  color: #9d1662;
  font-family: "DIN Pro Bold", sans-serif;
  font-size: 1.563rem;
  text-align: center;
}

.quizQuestion {
  padding: 0.313rem;
}

.quiz-hr {
  background-color: var(--modal-quizz-hr-dark);
  margin: 0 auto 0.938rem auto;
  padding: 0.094rem;
  border: none;
}

#questionsForm {
  display: none;
  padding-left: 0.938rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-check:hover {
  background-color: var(--modal-form-check-blue);
  border-radius: 5px;
}

#submitBtn {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin: auto;
  display: flex;
}

#submitBtn:hover {
  cursor: pointer;
  transform: scale(1);
  background-color: var(--btn-card-purple);
}

#quizResult {
  font-size: 1.3rem;
  margin: 25% 28%;
}

#quizSpan {
  font-size: 1.563rem;
  font-weight: bold;
}

/* GAMES STYLES */
#gamesMessage {
  width: 14rem;
  padding-top: 1rem;
  margin: 0 auto 2rem auto;
  color: var(--dark-blue);
  font-family: "DIN Pro Bold", sans-serif;
  font-size: 1.563rem;
  text-align: center;
}

/* CONTACT-FORM STYLES */
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--modal-form-games-border-gray);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "DIN Pro Light", sans-serif;
}

input[type="submit"] {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--modal-form-games-border-gray);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "DIN Pro Light", sans-serif;
}

.container {
  border-radius: 5px;
  padding: 20px;
  height: 100%;
}

.formHeader {
  padding-bottom: 12%;
  font-size: 150%;
  text-align: center;
}

.submit {
  display: flex;
  justify-self: center;
  padding-bottom: 8%;
}
